{{#if showDetails}}
  {{outlet}}
  <button {{action 'detailsHide'}}>Back to Feed</button>
{{else}}
<div class="form-group">
  <form {{action 'tweet' on='submit'}}>
    <p>
      {{textarea cols="4" id="tweet-box" class="form-control" type="text" valueBinding="body" placeholder="Enter your tweet (140 char limit)"}}
    </p>
    <button id ="add-tweet"class="btn btn-large">submit</button>
    <span align="right" id="char-left" style="float: right;"></span>
  </form>
</div>



{{#each}}
  <li {{action 'details'}}>{{#link-to 'tweet' this.id}}{{body}}{{/link-to}}</li>
  <div class="tweet-details">
  </div>
{{/each}}
{{/if}}
